# Frontend (Client-side)
VITE_API_BASE_URL=

# Backend (Server-side)
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=
JWT_SECRET=
ADMIN_USERNAME=
ADMIN_PASSWORD=
PORT=
FRONTEND_ORIGIN=

